<div class="container mx-auto py-8">
    <h3 class="text-2xl font-bold mb-4 text-center text-black underline">Books List</h3>

    <div *ngIf="message" class="alert"
        [ngClass]="{'bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded': level==='error', 'bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded': level==='success'}"
        role="alert">
        <p>{{message}}</p>
    </div>
    <hr class="my-4">

    <div class="flex flex-wrap justify-start gap-4">
        <app-book-card *ngFor="let book of bookResponse.content" [book]="book" (borrow)="borrowBook($event)"
            (details)="displayBookDetails($event)"></app-book-card>
    </div>

    <div class="flex justify-center mt-6">
        <nav aria-label="Page navigation">
            <ul class="flex list-none">
                <li class="page-item">
                    <button (click)="goToFirstPage()" class="page-link bg-gray-200 px-3 py-1 mx-1 rounded"
                        aria-label="Previous" [disabled]="page === 0">
                        <i class="fa-solid fa-angles-left"></i>
                    </button>
                </li>
                <li class="page-item">
                    <button (click)="goToPreviousPage()" class="page-link bg-gray-200 px-3 py-1 mx-1 rounded"
                        aria-label="Previous" [disabled]="page === 0">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                </li>
                <li class="page-item" *ngFor="let pageIndex of pages">
                    <button (click)="gotToPage(pageIndex)" class="page-link bg-gray-200 px-3 py-1 mx-1 rounded"
                        [class.active]="page === pageIndex">
                        {{ pageIndex + 1 }}
                    </button>
                </li>
                <li class="page-item">
                    <button (click)="goToNextPage()" class="page-link bg-gray-200 px-3 py-1 mx-1 rounded"
                        aria-label="Next" [disabled]="isLastPage">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="page-item">
                    <button (click)="goToLastPage()" class="page-link bg-gray-200 px-3 py-1 mx-1 rounded"
                        aria-label="Next" [disabled]="isLastPage">
                        <i class="fa-solid fa-angles-right"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>