<p>book card!!!</p>

<img [src]="bookCover" class="border-2 border-black-800" alt="">

<!-- <div class="max-w-sm bg-white border-2 rounded-lg shadow-lg overflow-hidden" [class.border-green-500]="book.shareable"
    [class.border-yellow-500]="book.archived">
    <img height="200" [src]="bookCover" class="w-full h-48 object-cover" alt="Book cover">
    <div class="p-4">
        <h5 class="text-lg font-bold text-black mb-1"><i class="fa-solid fa-book"></i>&nbsp;{{book.title}}</h5>
        <h5 class="text-sm text-gray-700 mb-1"><i class="fa-solid fa-user-check"></i>&nbsp;{{ book.authorName }}</h5>
        <h6 class="text-sm text-gray-700 mb-1"><i class="fas fa-code"></i>&nbsp;{{ book.isbn }}</h6>
        <h6 class="text-sm text-gray-700"><i class="fas fa-user"></i>&nbsp;{{ book.owner }}</h6>
        <hr class="my-2">
        <p class="text-sm text-gray-700 overflow-scroll h-20">{{book.synopsis}}</p>
    </div>
    <div class="p-4 border-t-2 flex justify-between items-center">
        <div class="flex items-center gap-2">
            <app-rating [rating]="book.rate || 0"></app-rating>
            <span class="font-bold text-black" *ngIf="book.rate || 0 > 0">
                {{book.rate}}
            </span>
        </div>
        <div class="flex items-center gap-2" *ngIf="!_manage">
            <i (click)="onShowDetails()" class="fas fa-circle-info text-blue-500 cursor-pointer"></i>
            <i (click)="onBorrow()" class="fas fa-list-check text-blue-500 cursor-pointer"></i>
            <i (click)="onAddToWaitingList()" class="fas fa-heart text-red-500 cursor-pointer"></i>
        </div>
        <div class="flex items-center gap-2" *ngIf="_manage">
            <i (click)="onEdit()" class="fas fa-edit text-green-500 cursor-pointer"></i>
            <i (click)="onShare()" class="fas fa-share-nodes text-blue-500 cursor-pointer"></i>
            <i (click)="onArchive()" class="fas fa-archive text-red-500 cursor-pointer"></i>
        </div>
    </div>
</div> -->