<div class="min-h-screen flex items-center justify-center bg-white" *ngIf="submitted else codeForm">
    <div class="w-full max-w-md bg-white p-8 border-2 border-gray-800">

        <div class="activation-message" *ngIf="isOkay; else activationError">
            <h2 class="text-2xl font-bold mb-8 text-center text-black underline">Activation Successful!</h2>
            <p class="text-black text-center mb-4">Your account has been successfully activated.</p>
            <div class="flex items-center justify-center">
                <button
                    class="bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline"
                    (click)="redirectToLogin()">Go to Login</button>
            </div>
        </div>

        <ng-template #activationError>
            <div class="activation-error">
                <h2 class="text-2xl font-bold mb-8 text-center text-black underline">Activation Failed!</h2>
                <p class="text-black text-center mb-4">{{ message }}</p>
                <div class="flex items-center justify-center">
                    <button
                        class="bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline"
                        (click)="submitted = false">Try again</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #codeForm>
    <div class="min-h-screen flex items-center justify-center bg-white">
        <div class="w-full max-w-md bg-white p-8 border-2 border-gray-800">
            <h2 class="text-2xl font-bold mb-8 text-center text-black underline">Type your activation code</h2>
            <div class="mb-6">
                <code-input [isCodeHidden]="false" [codeLength]="6" [code]="'number'"
                    (codeCompleted)="onCodeCompleted($event)">
                </code-input>
            </div>
            <div class="flex items-center justify-center">
                <button
                    class="bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline"
                    (click)="redirectToLogin()">Go to Login</button>
            </div>
        </div>
    </div>
</ng-template>